<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
  <script src="/validator.js"></script>
</head>
<body>
<div id="wrapper">

  <div id="logo">
    <img src="/logo.png" alt="">
  </div>

  <nav>
    <a href="/main">Strona główna</a>
    <a href="/contact">Kontakt</a>
    <a href="/main">Logowanie</a>

  </nav>

  <form method="post" onsubmit="return validateLogin()">
    <input type="text" placeholder="Login" name="login" id="login">
    <input type="password" placeholder="Password" name="password" id="password">
    <input type="submit" value="Zaloguj się">
  </form>

</div>
</body>
</html>